<section class="card">
    <header>{{title}}</header>

    <div class="card-body">
        <img src="/images/{{filename}}" alt="{{description}}">
        <p>By: {{artist}} on {{creationDate}}</p>
        <p>{{description}}</p>
    </div>
</section>